@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --cyntilant-red: #ff3b30;
  --spotify-green: #1db954;
  --brand-name: 'Sonare Music';
}

body {
  background: var(--foreground);
  color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.brand-name::after {
  content: var(--brand-name);
}
